body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.personal-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.personal-info img {
    border-radius: 50%;
    margin-right: 20px;
    width: 150px;
    transition: transform 0.3s ease;
}

.personal-info img:hover {
    transform: scale(1.1);
}

.section-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.section {
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

h2 {
    color: #4CAF50;
}

p {
    margin: 5px 0;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

a button {
    background-color: #333;
}

a button:hover {
    background-color: #555;
}

@media screen and (max-width: 600px) {
    .personal-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .personal-info img {
        margin-bottom: 10px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }
}
